.header { max-width: 1440px; height: 220px; border-bottom: 1px solid #e5e5e5; width: 100%; }
.header_top_strip { width: 138px; height: 16px; gap: 10px; display: flex; align-items: center; white-space: nowrap; }
.header_top_strip p { font-family: "Simplon Norm"; font-size: 12px; font-weight: 400; line-height: 14px; letter-spacing: 1px; text-align: left; color: #eb4c6b; }
.header_top { display: flex; justify-content: space-between; align-items: center; padding: 8px 274px; background: #000; }
.header_bottom { display: flex; justify-content: space-between; align-items: center; margin: 0 96px; }
.header_bottom h1 { font-family: "Inter"; font-size: 36px; font-weight: 800; line-height: 44px; letter-spacing: 1px; padding-left: 94px; }
.header_tab { gap: 64px; display: flex; justify-content: center; background: #fff; white-space: nowrap; width: 636px; margin: 0 auto; }
.header_tab_menu { font-family: "Simplon Norm"; font-size: 20px; font-weight: 700; line-height: 24px; letter-spacing: 1px; text-align: left; }
.icon { display: flex; align-items: center; justify-content: space-between; gap: 24px; cursor: pointer; }
.isDesktop { display: block; }
.icon_Mob, .isMobile { display: none; }
@media (max-width: 1024px) {
  .header_tab { gap: 16px; }
  .header_bottom { margin: 0 10px; }
  .header_top { padding: 0; }
  .header_bottom h1 { padding-left: 128px; }
  .icon { gap: 7px; }
}
@media (max-width: 575px) {
  .icon_desktop, .isDesktop { display: none; }
  .icon_Mob, .isMobile { display: block; }
  .header_top { padding: 2px 140px; }
  .header_bottom { margin: 0; border-bottom: 1px solid #e5e5e5; }
  .header_bottom img { width: 20px; height: 20px; }
  .header_bottom h1 { font-size: 20px; padding: 0; }
  .header_tab_menu { font-size: 12px; font-weight: 400; }
  .header_tab { justify-content: left;    width: 91%; }
  .header_mob_view { display: flex; gap: 4px; }
  .header { border: none; height: 124px; }
}
